body {
    background-color: #F0EFF2;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.page-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    border-left: 8px solid black;
    padding-left: 10px;
}

.detail-card {
    margin-top: 70px;
    background: white;
    border-radius: 10px;
}

.detail-table {
    width: 100%;
}

.detail-table th,
.detail-table td {
    padding: 25px 30px;
    font-size: 16px;
    border-bottom: 2px solid #E1E1E1;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.detail-table tr:last-child th,
.detail-table tr:last-child td {
    border-bottom: none;
}

.detail-table th {
    width: 160px;
    color: #737373;
    text-align: left;
    padding-left: 50px;
}

.start-col {
    width: 103px;
    text-align: center;
    white-space: nowrap;
}

.tilde-col {
    width: 40px;
    text-align: left;
    padding: 0;
    padding-right: 0;
}

.end-col {
    width: 240px;
    text-align: left;
}

.time-input {
    width: 103px;
    text-align: center;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    font-size: 16px;
    height: 28px;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.reason-input {
    width: 400px;
    height: 72px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    resize: none;
    margin-left: 30px;
}

.is-pending .time-input,
.is-pending .reason-input {
    border: none;
    background-color: transparent;
    pointer-events: none;
}

.detail-button-area {
    text-align: right;
    padding-top: 30px;
}

.edit-button {
    background: black;
    color: white;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    width: 130px;
    height: 50px;
}

.edit-button:hover {
    opacity: 0.85;
}

.request-warning {
    color: rgba(255, 0, 0, 0.5);
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.error-text {
    color: red;
    list-style: none;
}