body {
    background-color: #F0EFF2;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.page-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    border-left: 8px solid black;
    padding-left: 10px;
}

.detail-card {
    margin-top: 70px;
    background: white;
    border-radius: 10px;
}

.detail-table {
    width: 100%;
    /* border-collapse: collapse;
    table-layout: fixed; */
}

.detail-table th,
.detail-table td {
    padding: 25px 20px;
    font-size: 16px;
    border-bottom: 2px solid #E1E1E1;
    font-weight: bold;
    letter-spacing: 0.15em;
}

.detail-table tr:last-child th,
.detail-table tr:last-child td {
    border-bottom: none;
}

.detail-table th {
    width: 160px;
    color: #737373;
    text-align: left;
    padding-left: 50px;
}

.start-col {
    width: 100px;
    text-align: center;
    white-space: nowrap;
}

.tilde-col {
    width: 40px;
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

.end-col {
    width: 240px;
    text-align: left;
}

.detail-button-area {
    display: flex;
    justify-content: flex-end;
    padding-top: 40px;
}

.approve-button {
    background-color: black;
    color: white;
    border: none;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 0.15em;
    width: 130px;
    height: 50px;
}

.approve-button:hover {
    opacity: 0.85;
}

.approved-button {
    background-color: #696969;
    color: white;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.15em;
}