body {
    background-color: #F0EFF2;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}

.page-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 70px;
    border-left: 8px solid black;
    padding-left: 10px;
}

.attendance-card {
    background: white;
    border-radius: 10px;
    padding: 10px 0;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.attendance-table th,
.attendance-table td {
    padding: 12px 40px;
    text-align: center;
    letter-spacing: 0.15em;
}

.attendance-table th {
    font-weight: bold;
    color: #737373;
    font-size: 16px;
    border-bottom: 3px solid #E1E1E1;
}

.attendance-table td {
    font-weight: bold;
    color: #737373;
    font-size: 16px;
    border-bottom: 1px solid #E1E1E1;
}

.detail-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.detail-link:hover {
    text-decoration: underline;
}